body {
  margin: 0;
  padding: 0;
  overflow: hidden;
  font-family: 'Helvetica Neue', 'HelveticaNeue-Light', 'Helvetica Neue Light', 'Lucida Grande', Helvetica, Arial,
    sans-serif;
  font-weight: 300;
  background-color: #fff;
}

#root {
  width: 100vw;
  height: 100vh;
}

.classic-textedit-scroll {
  scrollbar-width: none;
  -ms-overflow-style: none;
}

.classic-textedit-scroll::-webkit-scrollbar {
  width: 0;
  height: 0;
}
